body {
  margin: 0;
  font-family: Arial;
  background: #0b0f19;
  color: #e5e7eb;
}

header {
  background: #111827;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: #6366f1;
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 15px;
}

.card {
  background: #111827;
  padding: 10px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border-bottom: 1px solid #1f2937;
}

input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  background: #0b0f19;
  border: 1px solid #1f2937;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.modal-content {
  background: #111827;
  width: 420px;
  margin: 60px auto;
  padding: 20px;
  border-radius: 10px;
}

.search {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  overflow-y: auto;
  padding: 20px;
}

.modal-content {
  background: #111827;
  width: 100%;
  max-width: 450px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;

  /* 🔥 ESTO ES LO IMPORTANTE */
  max-height: 90vh;
  overflow-y: auto;
}

.modal-content h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #a5b4fc;
}

hr {
  border: 1px solid #1f2937;
  margin: 10px 0;
}

/* ===== TABLA LIMPIA ===== */
.tabla-pro {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 14px;
}

/* HEADER */
.tabla-pro th {
  text-align: left;
  padding: 12px;
  background: #0f172a;
  color: #9ca3af;
  font-weight: 500;
  border-bottom: 1px solid #1f2937;
}

/* CELDAS */
.tabla-pro td {
  padding: 12px;
  border-bottom: 1px solid #1f2937;
  vertical-align: middle;
}

/* HOVER */
.tabla-pro tr:hover {
  background: #020617;
}

/* TEXTO ORDENADO */
.tabla-pro td div {
  line-height: 1.3;
}

/* DATOS CHICOS */
.tabla-pro small {
  color: #6b7280;
  font-size: 12px;
}

/* ===== BOTONES ===== */
.tabla-pro button {
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* CONTENEDOR BOTONES */
.tabla-pro td:last-child {
  max-width: 220px;
}

.tabla-pro td:last-child button {
  margin: 2px;
}

/* ===== ESTADOS ===== */
.vencido {
  color: #f87171;
  font-weight: 600;
}

.proximo {
  color: #facc15;
  font-weight: 600;
}

.hoy {
  color: #4ade80;
  font-weight: 600;
}


/* IGUALAR SELECT A INPUT */
select {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #1f2937;
  background: #020617;
  color: #fff;
  font-size: 14px;
}

/* FOCUS */
select:focus {
  outline: none;
  border-color: #7c3aed;
}

/* OPCIONES */
select option {
  background: #020617;
  color: #fff;
}

.label h3{
  color: #a5b4fc
}